---
Language: Cpp
BasedOnStyle: WebKit

BreakBeforeBraces: Linux
ColumnLimit: 120
IndentWidth: 4
Standard: Cpp11
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
BinPackParameters: false
SortIncludes: false
Cpp11BracedListStyle: true

---
Language: Proto
DisableFormat: true
